@use 'variables';


.contenedorInformacion{
    @include variables.estilosTarjetas;
    @media (max-width: 1160px) {
        margin-top: 0;
    }
    .ContenedorTitulo{
        @include variables.estilosContenedores;
        margin-top: 1.8em;
        @media (max-width: 1160px) {
            margin-top: 0;
        }
        h6{
            font-size: .7em;
            font-weight: 400;
            color: variables.$primario80;
            margin-bottom: .5em;
        }
        h1{
            font-size: 2em;
            margin-bottom: .3em;
            @media (max-width: 850px) {
                font-size: 1.3em;
            }
        }
        h3{
            font-size: 1.5em;
            font-family: variables.$font-family2;
            margin-bottom: .4em;
            span{
                margin-left: 1em;
                color: variables.$primario80;
                text-decoration: line-through;
            }
        }
    }
    .contenedorColorTalla{
        display: flex;
        align-items: center;
        @include variables.estilosContenedores;
        @media (max-width: 1160px) {
            align-items: flex-start;
        }
        div{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            
            .buttons1{
                display: flex;
                justify-content: center;
                margin: 0 .5em ;
                width: 2.8em;
                height: 2.8em;
                font-size: .8em;
                font-weight: 400;
                border: 2px solid variables.$primario40;
                @include variables.cursor;
                @media (max-width: 1160px) {
                    margin: .5em;
                }
            }
        }
    }
    .botonesCrud{
        display: flex;
        flex-wrap: wrap;
        font-weight: 400;
        div:nth-child(1){
            background-color: variables.$primario40;
            color: variables.$primario;
        }
        div{
            width: 47%;
            height: 3.2em;
            margin: .5em .5em;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: variables.$primario;
            color: variables.$basico;
            @include variables.cursor;
            @media (max-width: 1170px) {
                width: 100%;
                margin: .5em 0;
            }
        }
    }
    .contenedorDescripcion{
        p{
            text-align: justify;
            font-size: .8em;
            font-weight: 400;
            color: variables.$primario80;
        }
    }
}

























