@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao+Looped:wght@100;200;300;400;500&display=swap');

/* FUENTEs */
$font-family: 'Poppins', 'sans-serif';
$font-family2: 'Noto Sans Lao Looped', 'sans-serif';

/* Colores Pagina */
$basico: #ffffff;
$primario: #20353a;
$primario80: #20353a80;
$primario60: #20353a60;
$primario40: #20353a40;
$primario20: #20353a20;
$secundario: #2c4a99;
$secundario80: #2c4a9980;
$secundario60: #2c4a9960;
$secundario40: #2c4a9940;
$secundario20: #2c4a9920;
$terciario: #61bead;
$terciario80: #61bead80;
$terciario60: #61bead60;
$terciario40: #61bead40;
$terciario20: #61bead20;


/* Estilos Mixin */
@mixin estilosTarjetas{
        width: 50%;
        height: 100vh;
        padding: 1.8em;
        display: flex;
        flex-direction: column;
        margin: 1.5em 0;
        @media (max-width: 600px) {
            width: 100%;
        }
}

@mixin estilosContenedores{
    border-bottom: 2px solid $primario40;
    padding: 1.3em 0;
}

@mixin cursor{
    cursor: pointer;
    user-select: none;
    &:hover{
        transition:  100ms;
        transform: scale(1.05);
    }
    &:active{
        transition:  100ms;
        transform: scale(1);
    }
}













